.categories .category-item {
  background-color: #f5f5f5;
  border-radius: 3px;
  flex: 1;
  display: flex;
  justify-content: center;
}

.categories .category-item a {
  padding: 20px;
  display: inline-block;
  text-align: center;
  margin: 5px 0;
  font-size: 14px;
  font-weight: 500;
}

.categories .category-item .category-image {
  width: 100%;
  transition: transform ease 0.2s;
}

.categories .category-item .category-image:hover {
  transform: scale(1.05);
}
